*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 400px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 10px rgba(255,255,255,.4);
}

.container h3{
  margin-top: 5px;
  text-align: left;
  color: #fafafa;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
.container label{
  text-align: left;
  color: white;
}
.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2979ff;
  color: #f8f9fa;
  font-size: 15px;
}
.container form ::placeholder {
  font-size: 15px;
  color: rgb(245, 245, 245,.7);
}
.container form button{
  width: 100%;
  padding: 5px 0;
  border: none;
  background-color:#2979ff;
  font-size: 17px;
  color: #fafafa;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.registrasi {
  text-align: center;
  color: white;
 
  font-size: 14px;
}

.register-link{
 color: #2979ff; 
 text-decoration: none;
}


